<!DOCTYPE html>
<html>

<head>
    <title>Burgers</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Architects+Daughter&family=Fascinate&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="/assets/css/burger_style.css" </head>

<body>
    {{{body}}}

    <script src="/assets/js/burgers.js"></script>
</body>

</html>